body {
    background: rgb(247, 218, 33) url ("bee.PNG");
    background-color: rgb(247, 218, 33); 
    place-items: center;
}

h1, h2 {
    text-align:center;
    } 

h1 {
    font-family:nyt-karnakCondensed; font-size:36pk;
}

h2 {
    font-family:nyt-karnak; font-size: 24.8;
}

/*This lines of codes work with line 15 on SpellingBee.html*/
/*.primary-button {
    font-family:nyt-franklin; 
    font-size:15.2px; 
    Border:20px solid black; 
    background-color: black; 
    color:white;
    width: 160px;
    border-radius: 30px;
}*/