/* play.css */

/* display rank */
.rank {
    position: absolute; /* enable to specify position */
    top: 30px;
    right: 500px;
    font-size: 25px; 
    font-weight: bold;
}

/* whole circle: display scores */
.circle {
    position: absolute;
    top: 30px;
    right: 130px;
    display: flex; /* display horizontally */
    gap: 50px; 
}

/* each circle */
.circle > div {
    width: 30px;
    height: 30px;
    background-color: #ffcc00;
    border-radius: 50%;
    font-size: 20px;
    text-align:center;
}

/* word count: string*/
.count > div:nth-child(1) {
    position: absolute;
    top: 70px;
    right: 500px;
    font-size: 20px; 
    font-weight: solid;
}

/* word count: number */
.count div:nth-child(2){
    position: absolute;
    top: 70px;
    right: 460px;
    font-size: 20px; 
    font-weight: solid;
}

/* guessed word list: top*/
/*.guess {
    
}*/

/* guessed word list: bottom*/
.word {
    background-color: #f0f0f0;
    padding: 8px /* vertically */ 12px /* horizontally */ ; 
    border-radius: 10px; /* curverd border */
    width: fit-content; /* border only word */
}

/* user input */
p {
    text-align: center;
    font-size: 40px;
    margin-top: 150px;
}

/* whole square: display daily letters */
.square {
    max-width: 700px;
    margin: 0 auto; /* center */
    display: grid; /* horizontal */
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px; /* divide max-width evenly */
    gap: 10px; 
    cursor: pointer;
    font-weight: bold; /* text in the box */
    font-size: 30px;
}

/* each square: display each letter */
.square > div {
    background: rgba(224, 224, 221, 0.866);
    text-align: center;
    padding: 20px;
    border: 1px solid #777;
}

/* make the 4th square in yellow */
.square > div:nth-child(4) {
    background-color: #ffcc00;
}

/* whole button: delete, clear, and enter */
.button {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 100px 100px 100px; 
    gap: 10px;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
}

/* each button: delete, clear, and enter */
.button > div {
    border: 1px solid #777;
    padding: 20px;
    /*background-color: green;*/
}

/* restart button */
.alert {
    background-color: red;
    border: none;
    color: white; /* text color */
    padding: 20px;
    text-align: center;
    display: inline-block; /*no line-break after the element */
    font-size: 20px;
    margin: 4px /* vertically */ 2px /* horizontally */ ;
    cursor: pointer;
    font-weight: bold;
    border-radius: 50%; /*round shape */
    left: 50%;
    bottom: 5%;
    position: absolute;
    transform: translate(-50%, -50%); /* position in center */
}

/* whole popup message */
.popup-container {
    display: none; /* Hidden by default */
    position: fixed; /* keep the position */
    z-index: 1; /* display infront of the other element: -1 to display behind */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center; /* horizontally center */
}

/* each popup message */
.popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: relative;
}