<!-- templates/Play.html -->
<!DOCTYPE html> 
<html>
<head> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{{ url_for('static', filename='Play.css') }}">
    <title>Spelling Bee Game</title>
</head>
<body> 

    <!-- Rank -->
    <div class="rank" id="rankString"></div>

    <!-- Score circles -->
    <div class="circle"> 
        <div class="circle_item" id="Beginner"></div>
        <div class="circle_item" id="Good"></div>
        <div class="circle_item" id="Great"></div>
        <div class="circle_item" id="Amazing"></div>
        <div class="circle_item" id="Genius"></div>
    </div>

    <!-- Word count -->
    <div class="count">
        <div class="count_item" id="wordString">Word Count: </div>
        <div class="count_item" id="wordCount"></div>
    </div>

    <!-- Guessed words list top -->
    <div class="guess">
        <h3>Guessed Words:</h3>
        <ul id="guessedWordsList"></ul>
    </div>

    <!-- Guessed word list bottom-->
    <div class="word" id="wordColumn" style="margin-top: 1rem;"></div>

    <!-- User input -->
    <p id="display"><span id="currentString"></span></p> 

    <!-- Daily letter boxes -->
    <div class="square"> 
        <div class="square_item" id='0' onclick="addChar(0)"></div>
        <div class="square_item" id='1' onclick="addChar(1)"></div>
        <div class="square_item" id='2' onclick="addChar(2)"></div>
        <div class="square_item" id='3' onclick="addChar(3)"></div>
        <div class="square_item" id='4' onclick="addChar(4)"></div>
        <div class="square_item" id='5' onclick="addChar(5)"></div>
        <div class="square_item" id='6' onclick="addChar(6)"></div>
    </div>

    <!-- Buttons -->
    <div class="button">
        <div class="button_item" onclick="deleteButton()">Delete</div>
        <div class="button_item" onclick="clearButton()">Clear</div>
        <div class="button_item" onclick="enterButton()">Enter</div>
    </div>

    <!-- Restart and reset buttons -->
    <button class="alert" onclick="restart()">RESTART</button>
    <button onclick="resetGameSession()">Reset Game Session</button> <!-- for developper -->

    <!-- Popup message -->
    <div class="popup-container" id="myPopup">
        <div class="popup-content">
            <span class="close-button" onclick="closePopup()">&times;</span>
            <p id="popupMessage"></p>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='Play.js') }}"></script>
</body>
</html>